<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="doAnCuoiKy" connectionString="Data Source=DESKTOP-ODJNB4B\TANSQL;User ID=sa;Password=ttth;&#xD;&#xA;          Initial Catalog =Quanlivexe_DoAn; Integrated Security = TRUE" />
    <add name="GUI.Properties.Settings.Quanlivexe_DoAnConnectionString"
      connectionString="Data Source=DESKTOP-ODJNB4B\TANSQL;Initial Catalog=Quanlivexe_DoAn;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>